<div class="cell">
    <!-- <h1>
    {{#link-to "index" class="logo"}}
      <b class="srt">Wilderness Safety Quiz</b>
    {{/link-to}}
  </h1> -->
    <br>
    <h1>CPSC473 SPRING2017</h1><br>

    <div class="card">
        {{outlet}}
    </div>
</div>
